/* IMPORT DE GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Croissant+One&family=Pacifico&display=swap');

/* GLOBAL */

* {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    text-align: center;
    box-sizing: content-box;
}

/* FONT SIZE Y FAMILY */

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
}
nav a:hover {
    color: salmon;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}
p {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}
nav {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
}

form {
    font-family: 'Croissant One', cursive;
    font-size: 5rem;
}

footer {
    font-size: 3rem;
}

/* BREACKPOINTS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background: red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background: green;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background: blue;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background: pink;
    }
}

/* BANNERS */

.conteiner_index {
    background-image: url(img/Principal/banner_dia_madre.jpg);
    text-align: center;
    margin: 30px 10px 30px;
    border-radius: 15px;


}

.conteiner_ofertas {
    background-image: url(img/Ofertas/banner_ofertas.jpg);
    text-align: center;
    margin: 30px 10px 30px;
    ;
    border-radius: 15px;
    padding: 5px 5px;
}

.conteiner_higiene {
    background-image: url(img/Higiene_Personal/higienebanner.jpg);
    text-align: center;
    margin: 30px 10px 30px;
    border-radius: 15px;
    padding: 5px 5px 10px;
}

.conteiner_fragancias {
    background-image: url(img/Fragancias/fraganciasbanner.jpg);
    text-align: center;
    font-size: 5rem;
    margin: 30px 10px 30px;
    border-radius: 15px;
    padding: 5px 5px 10px;
}

.conteiner_contacto {
    background-image: url(img/Contacto/contacto_banner.jpg);
    text-align: center;
    margin: 30px 10px 30px;
    border-radius: 15px;
    padding: 5px 5px 10px;
}

/* EFECTO NAV MOUSE */


/*
.conteiner_fragancias {
    background-image: url(img/Fragancias/fraganciasbanner.jpg);
    text-align: center;
    font-size: 5rem;
    font-family: 'Pacifico', cursive;
    margin: 30px 10px 30px;
    border-radius: 15px;
    padding: 5px 5px 10px;
}
*/
.conteiner_Frag {
    width: 90%;
    max-width: 1000%;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    padding: 10 px;
    display: grid;
    gap: 20px;
    grid-template-columns: 5, 1fr;
    grid-template-rows: repeat 5, auto;
    grid-template-areas: "header header header header header"
        "main main cont cont cont"
        "cont2 cont2 cont2 main2 main2"
        "main3 main3 cont3 cont3 cont3"
        "footer footer footer footer footer";
}

.conteiner_Frag>div,
.conteiner_Frag .header,
.conteiner_Frag .main,
.conteiner_Frag .main2,
.conteiner_Frag .main3 .conteiner_Frag .cont .conteiner_Frag .cont2 .conteiner_Frag .cont3 {
    padding: 20px;
    border-radius: 4px;
}

.header {
    grid-area: header;
    font-size: 5rem;
    align-content: center;
    background-color: pink;
}


.main {
    grid-area: main;
    align-content: center;
    background-color: pink;
}

.main2 {
    grid-area: main2;
    background-color: pink;
}

.main3 {
    grid-area: main3;
    background-color: pink;
}

.footer {
    grid-area: footer;
    font-size: 4rem;
    background-color: pink;

}

.cont2 {
    grid-area: cont2;
    font-size: 3rem;
    align-content: center;
    background-color: pink;
}

.cont3 {
    grid-area: cont3;
    font-size: 3rem;
    align-content: center;
    background-color: pink;
}

.cont {
    grid-area: cont;
    font-size: 3rem;
    justify-content: center;
    background-color: pink;
}



@media screen and (max-width: 768px) {
    .conteiner_Frag {
        grid-template-areas: "header header header header header"
            "main main cont cont cont"
            "cont2 cont2 cont2 main2 main2"
            "main3 main3 cont3 cont3 cont3"
            "footer footer footer footer footer";
    }

}

@media screen and (max-width: 450px) {
    .conteiner_Frag {
        grid-template-areas: "header header header header header"
            "main main"
            "cont cont cont"
            "main2 main2"
            "cont2 cont2 cont2"
            "main3 main3"
            "cont3 cont3 cont3"
            "footer footer footer footer footer";

    }
}