/* IMPORT DE GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Croissant+One&family=Pacifico&display=swap&family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Pacifico&family=Philosopher&display=swap');

/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    text-align: center;
    box-sizing: content-box;

}

body {
    background-image: url(img/istockphoto-1365132896-612x612.jpg);
    background-size: cover; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
}



/* FONT SIZE Y FAMILY */

h1 {
    font-family: 'Pacifico', cursive;


}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

p {
    font-family: 'Croissant One', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Philosopher', sans-serif;
    font-size: 2rem;
}

form {
    font-family: 'Croissant One', cursive;
    font-size: 5rem;
}

footer {
    font-size: 3rem;

}

header {
    font-family: 'Cinzel', serif;
    font-size: 3rem;

}

header a:hover {
    color: salmon
}

.header_nav{
    font-size: 4rem;
}



/* BREAKPOINTS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {

    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {

    }
}

@media screen and (max-width: 768px) {
    .conteiner_index ,
    .conteiner_higiene,
    .banner_fragancias
    .conteiner_ofertas{
        font-size: 9rem !important;
    }
    .conteiner_contacto{
        font-size: 7rem !important;
    }


}

/* BANNERS */

.conteiner_index {
    background-image: url(img/Principal/banner_dia_madre.jpg);
    height: 150px;
    margin: 30px 10px 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12rem ;
    padding-bottom: 10px;

}

.conteiner_ofertas {
    background-image: url(img/Ofertas/banner_ofertas.jpg);
    height: 150px;
    margin: 30px 10px 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12rem ;
    padding-bottom: 10px;
}

.conteiner_higiene {
    background-image: url(img/Higiene_Personal/higienebanner.jpg);
    height: 150px;
    margin: 30px 10px 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12rem ;
    padding-bottom: 10px;
}

.conteiner_contacto {
    background-image: url(img/Contacto/contacto_banner.jpg);
    height: 150px;
    margin: 30px 10px 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem ;
    padding-bottom: 10px;
    
}

/* AJUSTE BANNER  */
.textaju{
    padding: 10px 10px 30px 10px;

}


/* MAQUETADO HEADER */

.header {
    grid-area: header;
    font-size: 5rem;
    place-content: center;
}

.header_anuncios {
    background-color: black;
    color: whitesmoke;
	margin-bottom:0.5%;
    padding-top: 0.8%;
	overflow: hidden;
    height: 40px;
}

.header_anuncios a:hover {
    color: whitesmoke;
}

.header_anuncios ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.header_anuncios li {
	width: 100%;
	list-style: none;
}

.header_anuncios p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

.header_anuncios a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    color: whitesmoke;
    }

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* MAQUETADO FOOTER */

.footer {
    grid-area: footer;
    font-size: 4rem;

}

.container_dolar {
    background-color:;
    height: 40px;
    margin: 30px 10px 30px;
    border-radius: 15px;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    font-size: 10rem ;
    font
    padding-bottom: 0px;
    font-family: 'Croissant One', cursive;
    
}

/* MAQUETADO FRAGANCIAS */

.conteiner_Frag {
    max-width: 1000%;
    background-color: pink;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:"header header header header header"
                        "banner_frag banner_frag banner_frag banner_frag banner_frag"
                        "main1 main1 cont1 cont1 cont1"
                        "cont2 cont2 cont2 main2 main2"
                        "main3 main3 cont3 cont3 cont3"
                        "footer footer footer footer footer";
}

.conteiner_Frag .main1,
.conteiner_Frag .main2,
.conteiner_Frag .main3,
.conteiner_Frag .cont1,
.conteiner_Frag .cont2,
.conteiner_Frag .cont3 {
    padding: 20px;
    border-radius: 4px;
}

.banner_fragancias {
    grid-area: banner_frag;
    background-image: url(img/Fragancias/fraganciasbanner.jpg);
    height: 150px;
    margin: 30px 10px 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12rem ;
    padding-bottom: 10px;
}

.main1 {
    grid-area: main1;
    align-content: center;
    background-color: pink;
}

.main2 {
    grid-area: main2;
    background-color: pink;
}

.main3 {
    grid-area: main3;
    background-color: pink;
}

.cont1 {
    grid-area: cont1;
    font-size: 3rem;
    align-content: center;
    background-color: pink;
}

.cont2 {
    grid-area: cont2;
    font-size: 3rem;
    align-content: center;
    background-color: pink;
}

.cont3 {
    grid-area: cont3;
    font-size: 3rem;
    align-content: center;
    background-color: pink;
}

@media screen and (min-width: 768px) {
    .conteiner_Frag {
        grid-template-areas: "header header header header header"
            "banner_frag banner_frag banner_frag banner_frag banner_frag"
            "main1 main1 cont1 cont1 cont1"
            "cont2 cont2 cont2 main2 main2"
            "main3 main3 cont3 cont3 cont3"
            "footer footer footer footer footer";
    }
}

@media screen and (max-width: 768px) {
    .conteiner_Frag {
        grid-template-areas: "header header header header header"
            "banner_frag banner_frag banner_frag banner_frag banner_frag"
            "main1 main1 main1 main1 main1"
            "cont1 cont1 cont1 cont1 cont1"
            "main2 main2 main2 main2 main2"
            "cont2 cont2 cont2 cont2 cont2"
            "main3 main3 main3 main3 main3"
            "cont3 cont3 cont3 cont3 cont3"
            "footer footer footer footer footer";
    }
}


.container {
	background-color: pink;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
    margin: 10px auto;
    
}

.header h2 {
	margin: 0;
}

.button_grande{
    width: 100px;
    height: 50px;
}

.cont1 h1,
.cont2 h1
.cont3 h1{
    font-size: 4rem;
}

/* FORM */

.form {
	padding: 30px 40px;	
    
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid pink;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
    font-size: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}
/* prueba del boton enviar del formulario*/
input#button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

/* IMAGENES SECCION */

.galeria{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;


}

.galeria img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 310px;
    transition: 0.5s;

}

.galeria img:hover{
    transform: scale(1.1);
}

button{
    background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	font-family: inherit;
	font-size: 16px;
}

button:hover{
    transform: scale(1.1);
}

form input:hover{filter: sepia(60%);}

.tachado{
    text-decoration: line-through;
}

.bordes{
    border: solid whitesmoke;
    border-radius: 50px;
}


